fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg[binary]
alembic
pydantic[email]
email-validator
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
orjson
httpx
loguru
langgraph
langchain
langchain-groq
langchain-core
groq
